footer {
    background-color: black;
    .footer-subs {
      font-size: 0.8rem;
      line-height: 30px;
    }
    ul {
      li {
          a{
              color: white !important;
          }
          p{
              color: lightgray !important;
              i{
                  margin-right: 10px;
              }
          }
      }
    }
  }
  .salam{
      max-width: 50% !important;
      margin-right: 100px;
  }